@model IEnumerable<Product>

<section class="main_container">
	<article class="index_intro">
		<div class="BannerContainer">
			<div class="jumbotron">
				<h1>This is a intro header of my site</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
				</p>
			</div>
		</div>
	</article>
	
	<div class="row pb-3">
		@foreach (var product in Model)
		{
			<div class="col-lg-3 col-md-6">
				<div class="row p-2">
					<div class="col-12 p-1" style="border:1px solid #008cba; border-radius: 5px;">
	
						<div class="card">
							<img src="@product.ImageUrl" class="card-img-top rounded" />
	
							<div class="card-body">
								<div class="pl-1">
									<p class="card-title h5 text-primary">@product.Title</p>
	                            </div>
								<div class="pl-1">
									<p>Price: <b>$@product.ListPrice.ToString("0.00")</b></p>
								</div>
							</div>
						</div>
						<div>
							<a asp-action="Details" class="btn btn-primary form-control" asp-route-productId="@product.Id">
								Details
							</a>
						</div>
					</div>
				</div>
			</div>
		}
	</div>
</section>
